# CVS default ignores begin
*.iml
/out
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end

# ignores from old projectdir begin
# erzeugte  binaries nicht versionieren ...
bin
*.jar
# ... aber die benutzten Libs, wenn sich da was ändert
!/Libraries/
!/Libraries/lib/
!/Libraries/lib/**

*.old
*.log
*.org

#*.ico
#*.jpg
#*.jpeg
#*.png
#*.gif

#510841109
dist
stash
.gitignor*

# ignores from old projectdir end
/.metadata/

.byke
.recommenders
.pmd
.eclipse-pmd
org.moreunit.prefs
*report.txt
*.mgp
*.mgi

*sonarlint*prefs
*.patch
